<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="content.css">
</head>
<body>
    <div class="container">
        <div class="container-title">
            <h1>Why Choose Us?</h1>
            <p>Medical Exercise Specialist in Calabar, Nigeria</p>
        </div>
        <div class="container-content">
            <div class="content-photo">
                <div class="photo-1"></div>
                <div class="photo-2"></div>
                <div class="photo-3"></div>
            </div>
            <div class="content-text">
                <ul>
                    <h3>Expertise: </h3>
                    <li>With over 10 years of experience, our certified medical exercise specialists have a deep understanding of rehabilitation and recovery.</li>

                    <h3>Personalized Approach:</h3>
                    <li>Every program is customized to meet your unique needs and goals, ensuring optimal results and safety.</li>

                    <h3>Proven Results: </h3>
                    <li>We have a track record of success, helping clients achieve significant improvements in mobility, strength, and overall quality of life.</li>

                    <h3>Compassionate Care:</h3>
                    <li>Your health and comfort are our priorities. We provide supportive, compassionate care throughout your journey to better health.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="offer-container">
        <div class="offer-title">
            <h1>What You Get</h1>
            <p>Medical Exercise Specialist in Calabar, Nigeria.</p>
        </div>
        <div class="offer-cards-container">
            <div class="offer-cards">
                <img src="../../assets/IMG/1.jpg" alt="">
                <h3> Initial Consultation and Assessment</h3>
                <a href="#">Learn More</a>
            </div>
            <div class="offer-cards">
                <img src="../../assets/IMG/1.jpg" alt="">
                <h3> Exercise Prescription and Program Design</h3>
                <a href="#">Learn More</a>
            </div>
            <div class="offer-cards"><img src="../../assets/IMG/1.jpg" alt="">
                <h3> Supervised Exercise Sessions</h3>
                <a href="#">Learn More</a></div>
            <div class="offer-cards">
                <img src="../../assets/IMG/1.jpg" alt="">
                <h3> Education and Self-Management</h3>
                <a href="#">Learn More</a>
            </div>
            <div class="offer-cards">
                <img src="../../assets/IMG/1.jpg" alt="">
                <h3> Ongoing Evaluation and Adjustment</h3>
                <a href="#">Learn More</a>
            </div>
            <div class="offer-cards">
                <img src="../../assets/IMG/1.jpg" alt="">
                <h3> Long-Term Maintenance</h3>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</body>
</html>